
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    background-color: #151719;
    min-height: 100vh;
}

.header {
    max-width: 1056px;
    margin:  0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
}


.header__content {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 64px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header__content h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -0.5px;
}

.header__content p {
    color: #9BA9B4;
    font-size: 20px;
    margin-top: 16px;
    font-weight: 400;
}


.btn {
    background: none;
    border: none;
    color: #fff;
}

.btn-small{
    padding: 8px 16px;
}

.btn-large{
    padding: 12px 32px;
}

.btn a{
    text-decoration: none;
    display: block;
    color: #fff;
}

.btn-link a{
    color: #5D5DFF;
}

.btn-success{
    background-color: #5D5DFF;
    color: #fff;
}

.btn-default{
    background-color: #33363A;
    color: #C5D2DC;
}

.btn-default a {
    color: #C5D2DC;
}
